.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 63, 0);
    color: white;
    position: sticky;
    top: 0;
    z-index: 200;
    width: 100vw;
    transition: 0.5s all ease;
    &.active {
      background-color: white;
      color: black;
      z-index: 200;
      button {
        background-color: white !important;
        color: #1dbf73 !important;
        border: 1px solid #1dbf73 !important;
      }
    }
  
    .container {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
  
      .logo {
        font-size: 2vw;
        font-weight: bold;
  
  
        .dot {
          font-weight: bold;
          color: #1dbf73;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1vw;
  
        span {
          white-space: nowrap;
          cursor: pointer;
        }
  
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
  
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .options {
            position: absolute;
            top: 50px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            z-index: 999;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            font-weight: 300;
            color: gray;
          }
        }
  
        button {
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          border: 1px solid white;
          background-color: transparent;
          cursor: pointer;
  
          &:hover {
            background-color: #1dbf73;
            border-color: #1dbf73;
          }
        }
      }
    }
  
    hr {
      width: calc(100% - 2px);
      height: 0;
      border-top: 0.5px solid #ebe9e9;
      border-bottom: 0.5px solid #ebe9e9;
    }
  
    .menu {
      width: 90%;
      padding: 10px 0px;
      display: flex;
      justify-content: center;
      column-gap: 2vw;
      color: gray;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      z-index:-1;
    }
  }
.resnavbar{
  width: 100vw;
  background-color: white;
  display: flex;
  padding: 5px;
  justify-content: center;
  display: none;
  .rescontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 90%;
    gap: 28vw;
    transition: 0.5s all ease;
    .crumb{
      cursor: pointer;
    }
    .name{
      font-size: 6vw;
      font-weight: 800;
      .dot{
        color: #1dbf73;
      }
    }
    .join{
      color: gray;
      font-size: 5vw;
    }
  }
}
.resoptions{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  background-color: white;
  justify-self: center;
  align-items: center;
  position: absolute;
  display: none;
  z-index: 999;
  .link{
    font-size: 5vw;
  }
  
}
  //responsive
@media (max-width:"998px") {
  .navbar{
    .menu{
      display: none;
    }
  }
}
@media (max-width:"480px") {
  .navbar{
    display: none;
  }
  .resnavbar{
    display: block;
  }
  .resoptions{
    display: flex;
  }

}
